<div class="container">
    <h1><%=@course.title%></h1>
    <p><%=@course.description%></p>
    
    <h2>Lessons</h2>
    <ul>
    <% @course.lessons.each do |lesson| %>
        <li>
        <%= link_to lesson.title, course_lesson_path(@course,lesson) %> 
        </li>
    <% end %>
    </ul>
    <% if user_signed_in?%>
    <% if current_user.id == @course.teacher_id%>
    <%= link_to 'New lesson', new_course_lesson_path(@course), class: 'btn btn-primary' %>
    <%end%>
    <%end%>
    <a href="<%= courses_path %>" class="btn btn-primary">Back</a>

</div>