<div class="container">

<h1>Add new lesson</h1>

<%= form_with(model: [@course, @lesson], local: true) do |form| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibió que esta lección se guardara:</h2>
      <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="row">
        <div class="col">
        <p></p>
        </div>
    </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="row">
        <div class="col">
        <p></p>
        </div>
    </div>

  <div>
    <%= form.label :lesson_type %>
    <%= form.text_field :lesson_type %>
  </div>

  <div class="field">
    <%= form.label :video_url, "YouTube Video URL" %>
    <%= form.text_field :video_url %>
  </div>

  <div>
    <%= form.submit 'Create lesson' %>
  </div>
<% end %>

<%= link_to 'Back', course_path(@course) %>


</div>