<div class="container">
    <h1><%= @lesson.title %></h1>

    <p><strong>Content:</strong></p>
    <p><%= @lesson.content %></p>

    <p><strong>Lesson type:</strong> <%= @lesson.lesson_type %></p>

    <p><strong>Curso:</strong> <%= link_to @lesson.course.title, course_path(@lesson.course) %></p>

    <% if user_signed_in?%>
    <% if current_user.id == @lesson.course.teacher_id%>
        <%= link_to 'Delete lesson', course_lesson_path(@lesson), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger'  %>
        <%= link_to 'Edit lesson', edit_course_lesson_path(@lesson.course, @lesson), class: 'btn btn-warning' %>
    <%end%>
    <%end%>

    <div class="row">
        <div class="col">
        <p></p>
        </div>
    </div>

    <% if @lesson.video_url.present? %>
    <div class="video">
        <iframe width="560" height="315" src="<%= @lesson.video_url.gsub('watch?v=', 'embed/') %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <% end %>

    <div class="row">
        <div class="col">
        <p></p>
        </div>
    </div>

    <%= link_to 'Back to lessons', course_path(@lesson.course), class: 'btn btn-primary' %> 

    <h2>Comments</h2>
    <div class="row">
        <div class="col">
        <% @lesson.questions.each do |question| %>
            <div class="card">
                <div class="card-header">
                    <p>@<%=question.user.name%></p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p><%=question.content%></p>
                    <% if current_user == question.user%>
                        <%= link_to 'Eliminar', course_lesson_question_path(course_id: @lesson.course.id, lesson_id: @lesson.id, id: question.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
                    <%end%>
                    </blockquote>
                </div>


                <!-- Mostrar las respuestas asociadas -->
                <div class="card-footer">
                    <h5>Answers:</h5>
                    <% question.answers.each do |answer| %>
                        <div class="mb-2">
                            <strong>@<%= answer.user.name %>:</strong>
                            <p><%= answer.content %></p>
                            <% if current_user == answer.user %>
                               <%= link_to 'Eliminar', course_lesson_question_answer_path(course_id: @lesson.course.id, lesson_id: @lesson.id, question_id: question.id, id: answer.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>

                

                            <% end %>
                        </div>
                    <% end %>
                    <!-- Formulario para responder -->
                    <% if user_signed_in? %>
                        <%= form_with(model: [@lesson.course, @lesson, question, Answer.new], local: true) do |form| %>
                            <div class="mb-3">
                                <%= form.text_area :content, class: "form-control", placeholder: "Write an answer..." %>
                            </div>
                            <%= form.submit 'Post', class: "btn btn-primary btn-sm" %>
                         <% end %>
                     <% end %>
                </div>
            </div>
        <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <%= form_with(model: [@lesson, @lesson.questions.build], url: course_lesson_questions_path(@course, @lesson)) do |form| %>
            <div class="mb-3">
                <%= form.text_area :content, class: "form-control",placeholder: "new question" %>
            </div>
        <%= form.submit 'Post', class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>

</div>