
<div class="container">
<h1>My inscriptions</h1>

<div class="row">
    <% @enrollments.each do |enrollment| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= enrollment.course.title %></h5>
            <p class="card-text"><%= enrollment.course.description %></p>
            <a href="<%= course_path(enrollment.course) %>" class="btn btn-primary">View Course</a>
            
            <%= link_to 'Remove enrollment', course_enrollment_path(enrollment.course, enrollment), data: { turbo_method: :delete,turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<h1>My courses</h1>
<div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= course.title %></h5>
            <p class="card-text"><%= course.description %></p>
            <a href="<%= course_path(course) %>" class="btn btn-primary">View Course</a>            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  